{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome Sonam</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
    <form action="" method="POST" novalidate class="shadow p-5">
      {% csrf_token %}
      {% for field in form %}
      <div class="mb-3">
          {{ field.label_tag }}
          {{ field }}
          <small class="text-danger">{{ field.errors|striptags }}</small>
      </div>
      {% endfor %}
      <small><a href="{% url 'password_change' %}">Forgot Password?</a></small>
      <br>
      <input type="submit" class="btn btn-primary mt-4 w-100" value="Login">
      <br>
      <div class="text-center text-primary fw-bold mt-3">
          <small>
              New to ShoppinglyX? 
              <a href="{% url 'CustomerRegistration' %}" class="text-danger">Create an Account</a>
          </small>
      </div>
  </form>
  </div>
 </div>
</div>
{% endblock main-content %}