{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container">
  <div class="row mt-5">
    <!-- Order Summary Section -->
    <div class="col-sm-6">
      <h4>Summary</h4>
      <hr>
      {% for item in cart_items %}
      <div class="card mb-2">
        <div class="card-body">
          <h5>Product: {{ item.product.title }}</h5>
          <p>Quantity: {{ item.quantity }}</p>
          <p class="fw-bold">Price: {{ item.total_cost }}</p>
        </div>
      </div>
      {% endfor %}
      <div class="card">
        <div class="card-body">
          <p class="fw-bold">Total Cost + TK.120: {{ total_amount }}</p>
        </div>
      </div>
      <h6>
        1. Pay easily and quickly by bKash or nagad.<br>
        2. Make payment on delivery through Cash on Delivery.<br>  
        3. Pay courier charges in advance to confirm the order.<br>
        4. Fill out the payment form after completing the payment.<br> 
      </h6>
    </div>

    <!-- Shipping Address Section -->
    <div class="col-sm-4 offset-sm-1">
      <h4>Select Courier Address</h4>
      <hr>
      {% if add %}
      <form action="{% url 'paymentdone' %}" method="get">
        {% for ad in add %}
        <div class="card mb-2">
            <div class="card-body">
                <h5>{{ ad.name }}</h5>
                <p>{{ ad.state }}, {{ ad.city }}, {{ ad.union }}, {{ ad.village }},{{ ad.mobile }}</p>
            </div>
        </div>
        <div class="form-check mt-2 mb-5">
            <input class="form-check-input" type="radio" name="custid" id="custadd{{ forloop.counter }}" value="{{ ad.id }}">
            <label class="form-check-label fw-bold" for="custadd{{ forloop.counter }}">
                Select Address: {{ forloop.counter }}
            </label>
        </div>
        {% empty %}
        <p>No addresses found. Please add an address.</p>
        {% endfor %}
        <div class="text-end">
            <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continue</button>
        </div>
    </form>    
      {% else %}
        <p class="text-danger">No shipping addresses found. Please add a shipping address.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock main-content %}
